/**
 * @module _base.scss
 */

html {
    font-size: $fontSizeHtml;
}

body {
    color: $color03;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: $color04;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: $color05;
}

canvas {
    display: block;
}
