<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Project Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <!-- incompatible browser -->
    <style> .incompatibleBrowser { display: none; } </style>
</head>

<body>
    <!-- incompatible browser -->
    <div id="incompatibleBrowser" class="incompatibleBrowser">
        Yout Browser is outdated. Please update your browser for better experience.
    </div>
    <!-- loader -->
    <div class="loader"></div>
    <!-- main app -->
    <div id="container" class="container"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <!-- incompatible browser -->
    <style> .no-js .incompatibleBrowser { display: block; } </style>
</body>
</html>
