// colors
$color01: #eee;
$color02: #aaa;
$color03: #666;
$color04: #009;
$color05: #006;

// font-size
$fontSizeHtml: 62.5%; // 62.5% of 16px = 10px
$fontSize10: 1rem; // 10px
$fontSize16: 1.6rem; // 16px

// z-index
$zIndexVersion: 9999;

// retina pixel ratio
$retina: 192dpi;

// mixins
@mixin retina-asset($name, $ext: 'png') {
    $image: $name + '.' + $ext;
    $image-retina: $name + '@2x.' + $ext;

    display: block;
    width: width($image);
    height: height($image);
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: size($image);

    @media (min-resolution: $retina) {
        background-image: url($image-retina);
    }
}
