{
    "parser": "babel-eslint",

    "rules": {
        "no-console": 0,
        "no-debugger": 0,
        "indent": [2, 4, { "SwitchCase": 1 }],
        "quotes": [2, "single"],
        "strict": 2,
        "curly": 2,
        "camelcase": [2, {"properties": "always"}],
        "eqeqeq": [2, "smart"],
        "wrap-iife": [2, "inside"],
        "new-cap": [2, { "capIsNewExceptions": [] }],
        "no-inner-declarations": [2, "both"],
        "no-invalid-this": 2,
        "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
        "keyword-spacing": 2,
        "no-labels": 2,
        "spaced-comment": [2, "always"],
        "dot-notation": 2,
        "global-require": 0,
        "key-spacing": 2,
        "newline-after-var": [2, "always"],
        "no-multiple-empty-lines": 2,
        "arrow-spacing": 2,
        "comma-dangle": 2
    },

    "env": {
        "es6": true,
        "browser": true,
        "commonjs": true,
        "mocha": true
    },

    "extends": "airbnb",

    "globals": {}
}
