{
    "parser": "babel-eslint",

    "rules": {
        "no-console": 0,
        "indent": [2, 4, {
            "SwitchCase": 1,
            "FunctionDeclaration": { "parameters": 1, "body": 1 },
            "FunctionExpression": { "parameters": 1, "body": 1 }
        }],
        "camelcase": [2, {"properties": "always"}],
        "wrap-iife": [2, "inside"],
        "new-cap": [2, { "capIsNewExceptions": [] }],
        "no-invalid-this": 2,
        "global-require": 0,
        "comma-dangle": [2, "never"],
        "no-plusplus": 0,
        "no-return-assign": 0,
        "import/no-extraneous-dependencies": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/forbid-prop-types": 0,
        "react/jsx-filename-extension": 0
    },

    "env": {
        "es6": true,
        "browser": true,
        "commonjs": true,
        "mocha": true
    },

    "extends": "airbnb",

    "globals": {}
}
